html, body {
    height: 100%;
    background: #78ac41;
    color: #fff;
    font-family: avenir-semibold,Helvetica,sans-serif;
}

.linebreak {
    display: block;
}

.bgblack {
    background: #000;
    color: #fff;
}

.upper {
    color: #9e9e9e;
    right: 4%;
    margin-top: 10px;
}

.heading {
    font-size: 20px;
    font-family: arial;
    text-align: center;
}

.upperdiv {
    height: 65px;
    border: 2px solid black;
    position: relative;
    padding-top: 2px;
}

.ba {
    border: 2px solid #C9C9C9;
    ; height: 162px;
    width: 98%;
    left: 1%;
    right: 1%;
    background: #fff;
}

.ml-50 {
    margin-left: 50px;
}

.fs-15 {
    font-size: 15px;
}

.fs-13 {
    font-size: 13px;
}

.fs-18 {
    font-size: 18px;
}

.mt-10 {
    margin-top: 10px;
}

.pb-2 {
    padding-bottom: 2px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mt-9 {
    margin-top: 7px;
}

.mt-19 {
    margin-top: 19px;
}

.pt-5 {
    padding-top: 3px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-57 {
    padding-right: 57px;
}

.ffa {
    font-family: arial;
}

.ml-100 {
    margin-left: 100px;
}

.ml-200 {
    margin-left: 200px;
}

.ml-250 {
    margin-left: 270px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-127 {
    margin-left: 127px;
}

.pt-0 {
    padding-top: 0px;
}

.ml-18 {
    margin-left: 18px;
}

.d1 {
    height: auto;
    width: 120px;
    float: left;
}

input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

.d2 {
    height: auto;
    width: 220px;
    height: 18px;
    float: left;
}

.d3 {
    height: auto;
    width: 120px;
    float: left;
}

.d4 {
    height: auto;
    width: 220px;
    height: 18px;
    float: left;
}

.d5 {
    height: auto;
    width: 150px;
    float: left;
}

.d6 {
    height: auto;
    width: 190px;
    height: 18px;
    float: left;
}

.text {
    text-align: justify;
    margin-top: 2px;
}

.bi {
    background: black;
    color: white;
    height: 23px;
    width: 100%;
    padding: 0.5px 0.5px;
    font-size: 16px;
    font-weight: bold;
}

.bi2 {
    background: black;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding: 11.5px 0.5px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
}

.mt-60 {
    margin-top: 60px;
}

.bdetails {
    height: 5740px;
    width: 100%;
    border: 2px solid black;
}

.msign {
    height: 270px;
    width: 100%;
    border: 1px solid black;
}

.devide4 {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.br1 {
    border-right: 1px solid black;
}

.br2 {
    border-right: 2px solid black;
}

.bl1 {
    border-left: 1px solid black;
}

.bt1 {
    border-top: 1px solid black;
}

.bb {
    border-bottom: 1px solid black;
}

.bb2 {
    border-bottom: 2px solid black;
}

.bl2 {
    border-left: 2px solid black;
}

.left {
    width: 50%;
    height: 45px;
    /*background:red;*/
}

.right {
    width: 50%;
    height: 45px;
    /*background:red;*/
}

.l1 {
    width: 100%;
    left: 0px;
    right: 0px;
    padding: 0px 14px;
    position: absolute;
}

.rr1 {
    width: 100%;
    left: 0px;
    right: 0px;
    padding-top: 5px;
}

.left1 {
    width: 50%;
    height: 46px;
    /*background:red;*/
}

.right1 {
    width: 50%;
    height: 46px;
    /*background:red;*/
}

.tl {
    background: #e2d7d7;
}

.dd1 {
    width: 50%;
    height: 210px;
    display: inline;
    /*background:red;*/
}

.dd2 {
    width: 16.66%;
    height: 210px;
    /*background:red;*/
}

.dd3 {
    width: 16.66%;
    height: 210px;
    /*background:red;*/
}

.dd4 {
    width: 16.66%;
    height: 210px;
    /*background:red;*/
}

.p1 {
    width: 20%;
    height: 70px;
    /*background:red;*/
}

.p2 {
    width: 20%;
    height: 70px;
}

.p3 {
    width: 30%;
    height: 70px;
}

.p4 {
    width: 20%;
    height: 70px;
}

.p5 {
    width: 30%;
    height: 70px;
}

.r1 {
    width: 33.33%;
    height: 50px;
}

.r2 {
    width: 33.33%;
    height: 50px;
}

.r3 {
    width: 33.33%;
    height: 50px;
}

.rn1 {
    width: 20%;
    height: 30px;
}

.rn2 {
    width: 30%;
    height: 30px;
}

.rn3 {
    width: 40%;
    height: 30px;
}

.rn4 {
    width: 30%;
    height: 30px;
}

.bd1 {
    height: 172px;
    width: 90%;
}

.bd2 {
    height: 172px;
    width: 30%;
}

.w1 {
    position: relative;
}

.t1 {
    position: absolute;
    left: 0px;
    right: 0px;
}

.t2 {
    height: 542px;
    width: 100%;
}

.t3 {
    height: 750px;
    width: 100%;
}

.t4 {
    height: 190px;
    width: 100%;
}

.t5 {
    height: 612px;
    width: 100%;
}

.t6 {
    height: 110px;
    width: 100%;
}

.s1 {
    width: 80%;
    height: 29px;
    /*background:red;*/
}

.s2 {
    width: 40%;
    height: 29px;
}

.ml-373 {
    margin-left: 373px;
}

.mt5 {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 1px;
}

.mt-5 {
    margin-top: 5px;
    display: inline-block;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.phone {
    width: 25%;
    height: 46px;
}

.fax {
    width: 25%;
    height: 46px;
}

.sd1 {
    height: 25px;
    width: 25px;
    background: red;
}

.sd2 {
    height: 20px;
    width: 22px;
    border: 1px solid black;
    background: blue;
    position: absolute;
    z-index: 1;
}

.mydiv {
    height: 50px;
    width: 100px;
    background: red;
    display: block;
}

.paf {
    font-size: 20px;
}

.lb {
    height: 80px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-15 {
    padding-top: 20px;
}

.mt-9 {
    margin-top: 9px;
}

.ml-250 {
    margin-left: 250;
}

.ml-30 {
    margin-left: 30px;
}

.sm1 {
    height: 30px;
    width: 30%;
}

.sm2 {
    height: 30px;
    width: 20%;
}

.tblfull {
    left: px;
    right: px;
    position: relative;
}

.bt {
    border-top: 1px solid black;
}

.fb {
    font-weight: bold;
}

.total {
    height: 30px;
    width: 10%;
    float: left;
    background: red;
}

.mr-100 {
    padding-right: 100px;
}

.pb-5 {
    margin-bottom: 10px;
}

.topbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topbar img {
    height: 50px;
    width: auto;
}

.h100p {
    height: 100%;
}

.pageborder {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.84);
    color: #111;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000;
}